<h1>Usuários</h1>
<hr>
<table>
    <thead>
        <th>Nome</th>
        <th>E-mail</th>
        <th>Idade</th>
        <th colspan="2">Opções</th>
    </thead>
    <tbody>
        <%usuarios.forEach(usuario => {%>
            <tr>
                <td><%=usuario.nome%></td>
                <td><%=usuario.email%></td>
                <td><%=usuario.idade%></td>
                <td><a href="/atualizar/<%= usuario.id %>">Atualizar</a></td>
                <td><a href="/deletar/<%= usuario.id %>">Deletar</a></td>
            </tr>
        <% }) %>
    </tbody>
</table>